<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-11-19T01:51:05Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
					<key>PageDigests</key>
					<dict>
						<key>blog.html</key>
						<dict>
							<key>Digest</key>
							<data>
							dnpBsq5br4rEKZQ/UjCv
							3Q==
							</data>
							<key>Size</key>
							<integer>7980</integer>
						</dict>
						<key>files/11bc62de303b5c99801effe4ff13987e-4.html</key>
						<dict>
							<key>Digest</key>
							<data>
							4HX0QZLm7HyiIXbYmc6t
							TQ==
							</data>
							<key>Size</key>
							<integer>5341</integer>
						</dict>
						<key>files/2f3f181b3a78e8726237317178e94246-11.html</key>
						<dict>
							<key>Digest</key>
							<data>
							+7NDl5zVoiaPXTRbb2fy
							hQ==
							</data>
							<key>Size</key>
							<integer>5281</integer>
						</dict>
						<key>files/32602318fdc7e5909ce163f89efdcad2-3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							u/Y9CYbKGYRhz2wyrQNo
							jw==
							</data>
							<key>Size</key>
							<integer>5570</integer>
						</dict>
						<key>files/5f1a0cfa67c3a23899beb3dbdabe95e7-8.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qirjSTFWp9QjzNqqeuD5
							4g==
							</data>
							<key>Size</key>
							<integer>5521</integer>
						</dict>
						<key>files/7d4417eadc80d8e7ec93dae015a2b47b-7.html</key>
						<dict>
							<key>Digest</key>
							<data>
							A3u/6eZzFqakzJWlHXDd
							0A==
							</data>
							<key>Size</key>
							<integer>5643</integer>
						</dict>
						<key>files/9b87f2b81553d3f47072f4fbaf8c766a-6.html</key>
						<dict>
							<key>Digest</key>
							<data>
							G3chpEs9jhzcSGu6wyhh
							7g==
							</data>
							<key>Size</key>
							<integer>5438</integer>
						</dict>
						<key>files/9ddd7f3ac1002344375171c9ce684a16-2.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ajSfRYNpvIeZj4i2omG7
							aQ==
							</data>
							<key>Size</key>
							<integer>5446</integer>
						</dict>
						<key>files/archive-02-october-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							JMf+MTbY4symR6cP/0++
							Rw==
							</data>
							<key>Size</key>
							<integer>6874</integer>
						</dict>
						<key>files/archive-04-september-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							FRKdecy2dmxq1y2CfIwn
							PQ==
							</data>
							<key>Size</key>
							<integer>5806</integer>
						</dict>
						<key>files/archive-11-september-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							csYmLgVou9GDmPPoSckW
							jQ==
							</data>
							<key>Size</key>
							<integer>6002</integer>
						</dict>
						<key>files/archive-13-november-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							HIcx5T8ig2a3LuuvDYx+
							lw==
							</data>
							<key>Size</key>
							<integer>5572</integer>
						</dict>
						<key>files/archive-14-august-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5jh+PYKInhkoRYiIASsO
							wA==
							</data>
							<key>Size</key>
							<integer>5731</integer>
						</dict>
						<key>files/archive-28-august-2011.html</key>
						<dict>
							<key>Digest</key>
							<data>
							d8o08mrztd3E1UNlHuMt
							mQ==
							</data>
							<key>Size</key>
							<integer>6956</integer>
						</dict>
						<key>files/b029ef10f0048e675d7f7572606e1ac9-9.html</key>
						<dict>
							<key>Digest</key>
							<data>
							YmtknNNdicx1lUKSJ7pE
							0Q==
							</data>
							<key>Size</key>
							<integer>5265</integer>
						</dict>
						<key>files/category-administrative.html</key>
						<dict>
							<key>Digest</key>
							<data>
							NmsDBngqhpq+zekcnZAv
							0A==
							</data>
							<key>Size</key>
							<integer>6990</integer>
						</dict>
						<key>files/category-homework.html</key>
						<dict>
							<key>Digest</key>
							<data>
							dCdX3Gd8nC+6eprOe13n
							pw==
							</data>
							<key>Size</key>
							<integer>7202</integer>
						</dict>
						<key>files/category-humor.html</key>
						<dict>
							<key>Digest</key>
							<data>
							iLxgABZ3fbmP825m9rOS
							LQ==
							</data>
							<key>Size</key>
							<integer>5538</integer>
						</dict>
						<key>files/f5eef23774fa69c026cbd9b7bbcc84bc-10.html</key>
						<dict>
							<key>Digest</key>
							<data>
							MxGLuCx4PclTKifKNHU2
							Ig==
							</data>
							<key>Size</key>
							<integer>5396</integer>
						</dict>
						<key>files/f91ed492f153213c15b331a45672de8d-5.html</key>
						<dict>
							<key>Digest</key>
							<data>
							YUC63QKQKbveIP/r4wBT
							Kg==
							</data>
							<key>Size</key>
							<integer>5307</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>SiteRoot</key>
					<string>blog</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
