<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>Changed</key>
				<false/>
				<key>ColourStyles</key>
				<dict>
					<key>Simplify</key>
					<dict/>
				</dict>
				<key>CreditRapidWeaver</key>
				<true/>
				<key>CustomCopyrightUsed</key>
				<false/>
				<key>CustomSiteTitle</key>
				<string>Exams</string>
				<key>CustomSiteTitleUsed</key>
				<true/>
				<key>CustomSlogan</key>
				<string>Midterm and Final...</string>
				<key>CustomSloganUsed</key>
				<true/>
				<key>DefaultLinkTarget</key>
				<string>self</string>
				<key>FilenameExtension</key>
				<string>html</string>
				<key>FolderName</key>
				<string>exams</string>
				<key>HasCustomThemeStyle</key>
				<true/>
				<key>ImageFormat</key>
				<string>Original</string>
				<key>ImageQuality</key>
				<string>High</string>
				<key>IndexFilename</key>
				<string>exams.html</string>
				<key>OutputFormat</key>
				<string>Tidied</string>
				<key>OutputXMLDeclaration</key>
				<false/>
				<key>SidebarEnabled</key>
				<integer>1</integer>
				<key>TextEncoding</key>
				<string>iso-8859-1</string>
				<key>ThemeStyles</key>
				<dict>
					<key>Simplify</key>
					<array>
						<string>Banner Height.Hide</string>
						<string>Banner Images.Transparent</string>
						<string>Bottom Content (padding).Normal</string>
						<string>Colours.Body (bg)</string>
						<string>Font Family.Trebuchet</string>
						<string>Header (height).Less (space)</string>
						<string>Header (text transform).Capitalize</string>
						<string>Layout (rounded corners).Show (corners)</string>
						<string>Layout Width.960px</string>
						<string>Logo Alignment.Right</string>
						<string>Main Content (font size).13px</string>
						<string>Side Content (font size).11px</string>
						<string>Sidebar Position.Right</string>
						<string>Site Slogan.Show (bottom)</string>
						<string>Site Title.Show</string>
						<string>Top Menu (font size).13px</string>
					</array>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array/>
		</dict>
	</array>
	<key>Type</key>
	<string>Page Attributes</string>
</dict>
</plist>
