<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:document:resources</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-11-19T01:51:05Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
						<key>PageDigests</key>
						<dict>
							<key>project1.pdf</key>
							<dict>
								<key>Digest</key>
								<data>
								d52oEDRzBtJG
								qggQ1DvaEw==
								</data>
								<key>Size</key>
								<integer>89128</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:document:resources</string>
						<key>SiteRoot</key>
						<string>resources</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:blog</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-08-15T22:21:01Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:plugin:stacks</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-08-15T22:21:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
						<key>PageDigests</key>
						<dict>
							<key>stacks.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Z7M2+k+nTYMv
								S8RIXHdH9w==
								</data>
								<key>Size</key>
								<integer>1882</integer>
							</dict>
							<key>stacks_ie.css</key>
							<dict>
								<key>Digest</key>
								<data>
								7iAH6PH4xgg0
								VPXgfbIV7Q==
								</data>
								<key>Size</key>
								<integer>229</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:stacks</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:bs_charcoal</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-09-02T13:58:19Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
						<key>PageDigests</key>
						<dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								C3D7fLrKO/xw
								nAXLwzAsRA==
								</data>
								<key>Size</key>
								<integer>56</integer>
							</dict>
							<key>images/back.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								zO4dy6E6OM2O
								VM2t93yAgw==
								</data>
								<key>Size</key>
								<integer>195</integer>
							</dict>
							<key>images/header.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								hAoIlO7uNjok
								JTljs56wpQ==
								</data>
								<key>Size</key>
								<integer>40285</integer>
							</dict>
							<key>images/header_original.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KjkYtF/7fWQb
								abVKUFUvDQ==
								</data>
								<key>Size</key>
								<integer>9133</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								E3gr2bFUCqV9
								toDgdimoxQ==
								</data>
								<key>Size</key>
								<integer>57</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uKBMHId9QHX9
								HjTg8HIauw==
								</data>
								<key>Size</key>
								<integer>7475</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:bs_charcoal</string>
						<key>SiteRoot</key>
						<string>rw_common/themes/bs_charcoal</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:simplify</key>
					<dict>
						<key>CreationDate</key>
						<date>2010-08-15T22:21:02Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
						<key>PageDigests</key>
						<dict>
							<key>colourtag-theme-default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								deUvvkeO9ZwP
								AQoseklRBA==
								</data>
								<key>Size</key>
								<integer>3887</integer>
							</dict>
							<key>colourtag.css</key>
							<dict>
								<key>Digest</key>
								<data>
								deUvvkeO9ZwP
								AQoseklRBA==
								</data>
								<key>Size</key>
								<integer>3887</integer>
							</dict>
							<key>css/banner_height/banner_200.css</key>
							<dict>
								<key>Digest</key>
								<data>
								WtNkZXy2BCUi
								93BuNva23A==
								</data>
								<key>Size</key>
								<integer>68</integer>
							</dict>
							<key>css/banner_height/banner_250.css</key>
							<dict>
								<key>Digest</key>
								<data>
								TiQafwYarEHM
								rjxtcGPGgQ==
								</data>
								<key>Size</key>
								<integer>68</integer>
							</dict>
							<key>css/banner_height/banner_300.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cTZAOYaKfXDf
								DWvh/rVnow==
								</data>
								<key>Size</key>
								<integer>68</integer>
							</dict>
							<key>css/banner_height/hide_banner.css</key>
							<dict>
								<key>Digest</key>
								<data>
								Usq2gBwxdLrZ
								1Nim7I+OmA==
								</data>
								<key>Size</key>
								<integer>42</integer>
							</dict>
							<key>css/bottomcontent/alternative.css</key>
							<dict>
								<key>Digest</key>
								<data>
								koyY5htQKGas
								JcpbPMFHWw==
								</data>
								<key>Size</key>
								<integer>78</integer>
							</dict>
							<key>css/bottomcontent/normal.css</key>
							<dict>
								<key>Digest</key>
								<data>
								M5a6/WPCEXKh
								uSacy3FWXg==
								</data>
								<key>Size</key>
								<integer>71</integer>
							</dict>
							<key>css/font_family/arial.css</key>
							<dict>
								<key>Digest</key>
								<data>
								iH8kh6UN9+Rg
								ePf0OCcN8Q==
								</data>
								<key>Size</key>
								<integer>75</integer>
							</dict>
							<key>css/font_family/georgia.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X7/7McLlJiZm
								dSBppqTi9w==
								</data>
								<key>Size</key>
								<integer>79</integer>
							</dict>
							<key>css/font_family/helvetica.css</key>
							<dict>
								<key>Digest</key>
								<data>
								cYtL84yggWhs
								zXtf3qIcnQ==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/font_family/lucida_grande.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SDUXaL8AqtYm
								ocoOMH5P6Q==
								</data>
								<key>Size</key>
								<integer>83</integer>
							</dict>
							<key>css/font_family/trebuchet.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LfM7KXUfwUDu
								qRcCW0GO3w==
								</data>
								<key>Size</key>
								<integer>76</integer>
							</dict>
							<key>css/header/capitalize.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OJ76mNwRcdoU
								EjZVIf42uQ==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>css/header/less_space.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hz74yh3S7cP1
								fVMHqOd1Lg==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/header/lowercase.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yp8RWDzGCZtZ
								RkhP3UqxxQ==
								</data>
								<key>Size</key>
								<integer>88</integer>
							</dict>
							<key>css/header/more_space.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HsFw/4lNJJy7
								TwNoufvWvg==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/header/uppercase.css</key>
							<dict>
								<key>Digest</key>
								<data>
								8Ke1GHff4lI3
								FlAzqfX0yw==
								</data>
								<key>Size</key>
								<integer>88</integer>
							</dict>
							<key>css/ie6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								mWOCcnkJ+oyo
								kln+BKBxUA==
								</data>
								<key>Size</key>
								<integer>394</integer>
							</dict>
							<key>css/layout/hide_corners.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AE8rgtkkZgNV
								+Op1ed6Cgw==
								</data>
								<key>Size</key>
								<integer>141</integer>
							</dict>
							<key>css/layout/show_corners.css</key>
							<dict>
								<key>Digest</key>
								<data>
								S6BD20ohJ2XW
								xwd/JALC7w==
								</data>
								<key>Size</key>
								<integer>146</integer>
							</dict>
							<key>css/logo/logo_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								HPK0fww94aKd
								Gzm8ireCkA==
								</data>
								<key>Size</key>
								<integer>33</integer>
							</dict>
							<key>css/logo/logo_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								b/8Mqgdtc2WJ
								JjU3rWRgng==
								</data>
								<key>Size</key>
								<integer>31</integer>
							</dict>
							<key>css/logo/logo_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bJp1Dn/Bwkne
								RKCUvugfrQ==
								</data>
								<key>Size</key>
								<integer>32</integer>
							</dict>
							<key>css/maincontent/fs_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								udRsb3+9uDFG
								xHxTrBayrg==
								</data>
								<key>Size</key>
								<integer>67</integer>
							</dict>
							<key>css/maincontent/fs_13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								DAHi8gMaety8
								bsXIQnnDWg==
								</data>
								<key>Size</key>
								<integer>67</integer>
							</dict>
							<key>css/maincontent/fs_14.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pux+/ffwgiaj
								bX53nLgquw==
								</data>
								<key>Size</key>
								<integer>67</integer>
							</dict>
							<key>css/prettyPhoto.css</key>
							<dict>
								<key>Digest</key>
								<data>
								QSbzUvBeVhhi
								ajlXrTFbRQ==
								</data>
								<key>Size</key>
								<integer>10117</integer>
							</dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eumfkfw7Klv+
								yl8z6HKCxg==
								</data>
								<key>Size</key>
								<integer>87</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								i0R36N2KiQsW
								b9dDDdKx7Q==
								</data>
								<key>Size</key>
								<integer>102</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SKokrsYgI2Kg
								Z6X+4Ih0yA==
								</data>
								<key>Size</key>
								<integer>102</integer>
							</dict>
							<key>css/sidecontent/fs_11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uSTCRNImjV3u
								aly1TjGXiA==
								</data>
								<key>Size</key>
								<integer>69</integer>
							</dict>
							<key>css/sidecontent/fs_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								pFAaOk56gS8A
								B5K3i3xZsA==
								</data>
								<key>Size</key>
								<integer>69</integer>
							</dict>
							<key>css/sidecontent/fs_13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								fFPkQXNqM7in
								I6zTn5MMVw==
								</data>
								<key>Size</key>
								<integer>69</integer>
							</dict>
							<key>css/slogan/hide_slogan.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9Hkjbp15KKzL
								vngeaCywXA==
								</data>
								<key>Size</key>
								<integer>62</integer>
							</dict>
							<key>css/slogan/show_slogan_bottom.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ryGdLXFFnULw
								f6FYRF+Zgg==
								</data>
								<key>Size</key>
								<integer>86</integer>
							</dict>
							<key>css/slogan/show_slogan_inline.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5Rjc65/EkrP9
								eCAIYzf4Ng==
								</data>
								<key>Size</key>
								<integer>64</integer>
							</dict>
							<key>css/stock/banner_1.css</key>
							<dict>
								<key>Digest</key>
								<data>
								4OaenQVUlLmq
								bCRuidhxcQ==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_10.css</key>
							<dict>
								<key>Digest</key>
								<data>
								tM4fRNhrEAj0
								MMooIoWRgw==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								aGG0zyWjQzkw
								klP/7gFohg==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								t4iH17QsMhic
								CjQzVhs24A==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nimyTugiIIEc
								jW3gTuAgXg==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_14.css</key>
							<dict>
								<key>Digest</key>
								<data>
								PPjQvrUk2Lag
								140SStO7SQ==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_15.css</key>
							<dict>
								<key>Digest</key>
								<data>
								giAqMfojA2GU
								cyHM5quwKA==
								</data>
								<key>Size</key>
								<integer>91</integer>
							</dict>
							<key>css/stock/banner_2.css</key>
							<dict>
								<key>Digest</key>
								<data>
								bmAZcRPwBy5V
								nrcgzDQWsg==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_3.css</key>
							<dict>
								<key>Digest</key>
								<data>
								M3HFIli/fanG
								IvzIUxfa7g==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_4.css</key>
							<dict>
								<key>Digest</key>
								<data>
								REN3yAbY0HO7
								OFkqCQcFJA==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_5.css</key>
							<dict>
								<key>Digest</key>
								<data>
								LHIFz/ctIpNw
								xOF4onqrZA==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_6.css</key>
							<dict>
								<key>Digest</key>
								<data>
								J+ZOtOcynDN4
								I6FSHA0X5A==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_7.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yD/CHvsFivDe
								uSCFIv/CfA==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_8.css</key>
							<dict>
								<key>Digest</key>
								<data>
								JoCmx/moUR5r
								XMdBZLiz9A==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/banner_9.css</key>
							<dict>
								<key>Digest</key>
								<data>
								5t59vl1EOrRZ
								LqQB8Kt8Cw==
								</data>
								<key>Size</key>
								<integer>90</integer>
							</dict>
							<key>css/stock/transparent.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zyCTgrB3Fifa
								uquphWVw/w==
								</data>
								<key>Size</key>
								<integer>53</integer>
							</dict>
							<key>css/title/hide_title.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ON6gWHLD847M
								y61H9wmpQg==
								</data>
								<key>Size</key>
								<integer>125</integer>
							</dict>
							<key>css/title/show_title.css</key>
							<dict>
								<key>Digest</key>
								<data>
								a5Um3mPbCEZt
								LQtLw1EpTA==
								</data>
								<key>Size</key>
								<integer>60</integer>
							</dict>
							<key>css/topmenu/fs_11.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vBPPhzGMGBYP
								vyhb/YHd1Q==
								</data>
								<key>Size</key>
								<integer>58</integer>
							</dict>
							<key>css/topmenu/fs_12.css</key>
							<dict>
								<key>Digest</key>
								<data>
								/EtTZsbLe5YM
								YGoeGk5DkA==
								</data>
								<key>Size</key>
								<integer>58</integer>
							</dict>
							<key>css/topmenu/fs_13.css</key>
							<dict>
								<key>Digest</key>
								<data>
								SAhir0x1nEnP
								Q/PkIhuwyA==
								</data>
								<key>Size</key>
								<integer>58</integer>
							</dict>
							<key>css/topmenu/fs_14.css</key>
							<dict>
								<key>Digest</key>
								<data>
								CmMwFRozUgNr
								bMCYyO6WDA==
								</data>
								<key>Size</key>
								<integer>58</integer>
							</dict>
							<key>css/width/760.css</key>
							<dict>
								<key>Digest</key>
								<data>
								kYIKHM+qa2mu
								ywag/no5eg==
								</data>
								<key>Size</key>
								<integer>217</integer>
							</dict>
							<key>css/width/860.css</key>
							<dict>
								<key>Digest</key>
								<data>
								9KKK1K1bLK4C
								6AvYbsrU8Q==
								</data>
								<key>Size</key>
								<integer>217</integer>
							</dict>
							<key>css/width/960.css</key>
							<dict>
								<key>Digest</key>
								<data>
								uZxsuDDn8BYq
								hSTNKxhBAw==
								</data>
								<key>Size</key>
								<integer>108</integer>
							</dict>
							<key>csshover.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								ADAkr1HcvCsA
								lwxAPGsGzQ==
								</data>
								<key>Size</key>
								<integer>4424</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								kglxKPnIPXGM
								ezbkXBvQHQ==
								</data>
								<key>Size</key>
								<integer>1187</integer>
							</dict>
							<key>images/bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FvNkhTMaUbCI
								9WXiyIptIw==
								</data>
								<key>Size</key>
								<integer>35974</integer>
							</dict>
							<key>images/editable_images/banner_1.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								vrwN5Fs4Ye7G
								EEdslCIJUA==
								</data>
								<key>Size</key>
								<integer>53108</integer>
							</dict>
							<key>images/editable_images/banner_10.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DP/GVA7m3LBu
								0ZKWmB1kkw==
								</data>
								<key>Size</key>
								<integer>55637</integer>
							</dict>
							<key>images/editable_images/banner_11.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								DF+z+geAAGYT
								XwlQDguwRw==
								</data>
								<key>Size</key>
								<integer>121566</integer>
							</dict>
							<key>images/editable_images/banner_12.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								2raVQnuNvS8y
								tK0Ar0J7mQ==
								</data>
								<key>Size</key>
								<integer>78954</integer>
							</dict>
							<key>images/editable_images/banner_13.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								fMDBilf9Fu2k
								I8YltJ3OZw==
								</data>
								<key>Size</key>
								<integer>81704</integer>
							</dict>
							<key>images/editable_images/banner_14.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								671d0YeZSrDL
								gOasqgH7Uw==
								</data>
								<key>Size</key>
								<integer>81429</integer>
							</dict>
							<key>images/editable_images/banner_15.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								RvbtfU1Wc/s1
								j+gyKIHbNQ==
								</data>
								<key>Size</key>
								<integer>32882</integer>
							</dict>
							<key>images/editable_images/banner_2.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								oBYBvWKB3fNE
								ChR8zsP5Kg==
								</data>
								<key>Size</key>
								<integer>44532</integer>
							</dict>
							<key>images/editable_images/banner_3.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								iY+tuFEEZaP9
								zy3lgYS2iQ==
								</data>
								<key>Size</key>
								<integer>49727</integer>
							</dict>
							<key>images/editable_images/banner_4.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								32bn1jxYTbrt
								vIvwdslFOQ==
								</data>
								<key>Size</key>
								<integer>86378</integer>
							</dict>
							<key>images/editable_images/banner_5.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								zQGHWUW/iAO7
								lYRYVDSQnA==
								</data>
								<key>Size</key>
								<integer>102073</integer>
							</dict>
							<key>images/editable_images/banner_6.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nVgrSMWQqR9q
								qEhTQHX8/w==
								</data>
								<key>Size</key>
								<integer>115715</integer>
							</dict>
							<key>images/editable_images/banner_7.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								TZk+Gk6GkQsC
								4UU0ybNL3g==
								</data>
								<key>Size</key>
								<integer>107285</integer>
							</dict>
							<key>images/editable_images/banner_8.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								L88PvGrwxeUC
								rPmwJwVQMQ==
								</data>
								<key>Size</key>
								<integer>129914</integer>
							</dict>
							<key>images/editable_images/banner_9.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								6tRxZXmLmm4P
								wr/qPR8q7Q==
								</data>
								<key>Size</key>
								<integer>82203</integer>
							</dict>
							<key>images/grad_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CKx0438aUD5d
								F9fZpWvndw==
								</data>
								<key>Size</key>
								<integer>1974</integer>
							</dict>
							<key>images/grad_menu.png</key>
							<dict>
								<key>Digest</key>
								<data>
								gTK1RXsDZMw5
								Us/fIug9bg==
								</data>
								<key>Size</key>
								<integer>1537</integer>
							</dict>
							<key>images/icons/chain.png</key>
							<dict>
								<key>Digest</key>
								<data>
								C0s6mevFlZC3
								jYE5el9oJg==
								</data>
								<key>Size</key>
								<integer>430</integer>
							</dict>
							<key>images/icons/clock.png</key>
							<dict>
								<key>Digest</key>
								<data>
								qhexclhkWdtM
								tntXOdGsmA==
								</data>
								<key>Size</key>
								<integer>706</integer>
							</dict>
							<key>images/icons/document-text.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2CX6EYpagWrr
								Y6V/yuQfFA==
								</data>
								<key>Size</key>
								<integer>592</integer>
							</dict>
							<key>images/line.png</key>
							<dict>
								<key>Digest</key>
								<data>
								pXxx6pKDytGZ
								Ed0aktkCAg==
								</data>
								<key>Size</key>
								<integer>477</integer>
							</dict>
							<key>images/prettyPhoto/dark_rounded/btnNext.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CokBi25KFJJi
								PKK2CLYG/w==
								</data>
								<key>Size</key>
								<integer>1411</integer>
							</dict>
							<key>images/prettyPhoto/dark_rounded/btnPrevious.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mthWV0CQjsqy
								P/Z5kOWQzA==
								</data>
								<key>Size</key>
								<integer>1442</integer>
							</dict>
							<key>images/prettyPhoto/dark_rounded/contentPattern.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZmDjrPhSO+je
								kyq+HgdTcA==
								</data>
								<key>Size</key>
								<integer>121</integer>
							</dict>
							<key>images/prettyPhoto/dark_rounded/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								QpeQCuLZ0MTr
								ANHBVGL7GQ==
								</data>
								<key>Size</key>
								<integer>2545</integer>
							</dict>
							<key>images/prettyPhoto/dark_rounded/sprite.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ybTbaftPh8ZA
								xeTkR/Unsg==
								</data>
								<key>Size</key>
								<integer>3838</integer>
							</dict>
							<key>images/prettyPhoto/dark_square/btnNext.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CokBi25KFJJi
								PKK2CLYG/w==
								</data>
								<key>Size</key>
								<integer>1411</integer>
							</dict>
							<key>images/prettyPhoto/dark_square/btnPrevious.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mthWV0CQjsqy
								P/Z5kOWQzA==
								</data>
								<key>Size</key>
								<integer>1442</integer>
							</dict>
							<key>images/prettyPhoto/dark_square/contentPattern.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ZmDjrPhSO+je
								kyq+HgdTcA==
								</data>
								<key>Size</key>
								<integer>121</integer>
							</dict>
							<key>images/prettyPhoto/dark_square/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								QpeQCuLZ0MTr
								ANHBVGL7GQ==
								</data>
								<key>Size</key>
								<integer>2545</integer>
							</dict>
							<key>images/prettyPhoto/dark_square/sprite.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UNUNwwH6ysB8
								QUBBotETiQ==
								</data>
								<key>Size</key>
								<integer>3303</integer>
							</dict>
							<key>images/prettyPhoto/light_rounded/btnNext.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CokBi25KFJJi
								PKK2CLYG/w==
								</data>
								<key>Size</key>
								<integer>1411</integer>
							</dict>
							<key>images/prettyPhoto/light_rounded/btnPrevious.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mthWV0CQjsqy
								P/Z5kOWQzA==
								</data>
								<key>Size</key>
								<integer>1442</integer>
							</dict>
							<key>images/prettyPhoto/light_rounded/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								30aZMERXb4Py
								wswaZOGPMQ==
								</data>
								<key>Size</key>
								<integer>2545</integer>
							</dict>
							<key>images/prettyPhoto/light_rounded/sprite.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aIZDc9YWLjhl
								rbbXSdyglA==
								</data>
								<key>Size</key>
								<integer>4008</integer>
							</dict>
							<key>images/prettyPhoto/light_square/btnNext.png</key>
							<dict>
								<key>Digest</key>
								<data>
								CokBi25KFJJi
								PKK2CLYG/w==
								</data>
								<key>Size</key>
								<integer>1411</integer>
							</dict>
							<key>images/prettyPhoto/light_square/btnPrevious.png</key>
							<dict>
								<key>Digest</key>
								<data>
								mthWV0CQjsqy
								P/Z5kOWQzA==
								</data>
								<key>Size</key>
								<integer>1442</integer>
							</dict>
							<key>images/prettyPhoto/light_square/loader.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								30aZMERXb4Py
								wswaZOGPMQ==
								</data>
								<key>Size</key>
								<integer>2545</integer>
							</dict>
							<key>images/prettyPhoto/light_square/sprite.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UNUNwwH6ysB8
								QUBBotETiQ==
								</data>
								<key>Size</key>
								<integer>3303</integer>
							</dict>
							<key>images/shadow_760.png</key>
							<dict>
								<key>Digest</key>
								<data>
								XnrveyvKq5/M
								WGvRmINtSQ==
								</data>
								<key>Size</key>
								<integer>9060</integer>
							</dict>
							<key>images/shadow_860.png</key>
							<dict>
								<key>Digest</key>
								<data>
								YxqmliwGQd37
								cXKR42hySw==
								</data>
								<key>Size</key>
								<integer>9210</integer>
							</dict>
							<key>images/shadow_960.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OaVThe0Svtfz
								fTeNWFxiHA==
								</data>
								<key>Size</key>
								<integer>9391</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								TSTHEQ07To9r
								S50kiPrSow==
								</data>
								<key>Size</key>
								<integer>15334</integer>
							</dict>
							<key>js/extracontent.js</key>
							<dict>
								<key>Digest</key>
								<data>
								vSIXILAAAx7L
								/PtMPe3qxA==
								</data>
								<key>Size</key>
								<integer>237</integer>
							</dict>
							<key>js/jquery.prettyPhoto.js</key>
							<dict>
								<key>Digest</key>
								<data>
								O2klBskMyaDo
								vuiLbp2bbg==
								</data>
								<key>Size</key>
								<integer>12596</integer>
							</dict>
							<key>png/blank.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								VjmOdr5jVa1Z
								mbJiIIoXyQ==
								</data>
								<key>Size</key>
								<integer>49</integer>
							</dict>
							<key>png/iepngfix.htc</key>
							<dict>
								<key>Digest</key>
								<data>
								yaDbE96Y4cEp
								qjAtgLKfyQ==
								</data>
								<key>Size</key>
								<integer>1652</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								nkv2h98tBfL1
								qIr8XoS+Ow==
								</data>
								<key>Size</key>
								<integer>1552</integer>
							</dict>
							<key>reset.css</key>
							<dict>
								<key>Digest</key>
								<data>
								eTW2Tt6vRag0
								WXfewraBAg==
								</data>
								<key>Size</key>
								<integer>961</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								dpKZGIpkrW3C
								+y4DQj5fxQ==
								</data>
								<key>Size</key>
								<integer>14977</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:simplify</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUImZpUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAeCQoR
				HSEzNztCRkdITE9TV15iaHBzd3yAhIiOj5OXVSRudWxs
				0gsMDRBaTlMub2JqZWN0c1YkY2xhc3OiDg+AAoAVgB3W
				EhMUDBUWFxgZGhscWE5vZGUgTWFwWVJlc291cmNlc1hQ
				YXRoIE1hcF5JZGVudGlmaWVyIE1hcFhQYWdlIE1hcIAR
				gAOAGYAcgA+AGNILDB4goR+ABIAO2SIjJCUmJygMKSor
				LC0uLTAxLVROYW1lVUFsaWFzWklkZW50aWZpZXJdUHVi
				bGlzaGVkRGF0ZVlUaW1lU3RhbXBcUHVibGlzaGVkVVJM
				V0NoYW5nZWRUU2x1Z4AKgAWACYAAgAuAAAiADYAA0jQM
				NTZSJDCABoAI0jgMOTpXTlMuZGF0YU8RAbQAAAAAAbQA
				AgAADE1hY2ludG9zaCBIRAAAAAAAAAAAAAAAAAAAAMfv
				nDdIKwAAAAj4uQxwcm9qZWN0MS5wZGYAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAACEsmQyusAMwAAAAAAAAAA/////wAACSAA
				AAAAAAAAAAAAAAAAAAAIcHJvamVjdHMAEAAIAADH7+KH
				AAAAEQAIAADK61STAAAAAQAYAAj4uQAI+KwACOLgAAhW
				2gAISeoAAJI7AAIATk1hY2ludG9zaCBIRDpVc2VyczoA
				YWxleDoARG9jdW1lbnRzOgBUZWFjaGluZzoAaG5yczE5
				MDoAcHJvamVjdHM6AHByb2plY3QxLnBkZgAOABoADABw
				AHIAbwBqAGUAYwB0ADEALgBwAGQAZgAPABoADABNAGEA
				YwBpAG4AdABvAHMAaAAgAEgARAASADtVc2Vycy9hbGV4
				L0RvY3VtZW50cy9UZWFjaGluZy9obnJzMTkwL3Byb2pl
				Y3RzL3Byb2plY3QxLnBkZgAAEwABLwAAFQACAAv//wAA
				gAfSPD0+P1gkY2xhc3Nlc1okY2xhc3NuYW1loz9AQV1O
				U011dGFibGVEYXRhVk5TRGF0YVhOU09iamVjdNI8PUNF
				okRBV0JEQWxpYXNXQkRBbGlhc18QJDkyMTczNkU3LTVE
				QUMtNDRCQy04MjQ5LTZBODg0ODBBQUJBMVxwcm9qZWN0
				MS5wZGbSDElKS1dOUy50aW1lgAwjQbR3Qw/aTq3SPD1N
				TqJOQVZOU0RhdGXSPD1QUqJRQV5SV1NpdGVSZXNvdXJj
				ZV5SV1NpdGVSZXNvdXJjZdI8PVRVo1VWQVxOU011dGFi
				bGVTZXRVTlNTZXTTC1gMWVtdV05TLmtleXOhH4AEoSyA
				CYAQ0jw9X2CjYGFBXxATTlNNdXRhYmxlRGljdGlvbmFy
				eVxOU0RpY3Rpb25hcnnTC1gMY2VdoWSAEqEsgAmAENRp
				DGprbG0fD1hDaGlsZHJlbl8QElJlcHJlc2VudGVkIE9i
				amVjdFZQYXJlbnSAE4AXgASAFdILDHFyoIAU0jw9dHWj
				dXZBXk5TTXV0YWJsZUFycmF5V05TQXJyYXnUaQxqa3ht
				LS2AFoAXgACAANILDH1yoWSAEoAU0jw9gYOigkFfEBBS
				V1NvdXJjZUxpc3ROb2RlXxAQUldTb3VyY2VMaXN0Tm9k
				ZdMLWAyFhl2goIAQ0wtYDImLXaGKgBuhjIAagBBfEDwv
				VXNlcnMvYWxleC9Eb2N1bWVudHMvVGVhY2hpbmcvaG5y
				czE5MC9wcm9qZWN0cy9wcm9qZWN0MS5wZGbSCwyQIKEf
				gASADtI8PZSWopVBXxASUldSZXNvdXJjZURhdGFiYXNl
				XxASUldSZXNvdXJjZURhdGFiYXNl0jw9mHaidkESAAGG
				oF8QD05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1
				ADoAPABdAGMAaABzAHoAfQB/AIEAgwCQAJkAowCsALsA
				xADGAMgAygDMAM4A0ADVANcA2QDbAO4A8wD5AQQBEgEc
				ASkBMQE2ATgBOgE8AT4BQAFCAUMBRQFHAUwBTwFRAVMB
				WAFgAxgDGgMfAygDMwM3A0UDTANVA1oDXQNlA20DlAOh
				A6YDrgOwA7kDvgPBA8gDzQPQA98D7gPzA/cEBAQKBBEE
				GQQbBB0EHwQhBCMEKAQsBEIETwRWBFgEWgRcBF4EYARp
				BHIEhwSOBJAEkgSUBJYEmwScBJ4EowSnBLYEvgTHBMkE
				ywTNBM8E1ATWBNgE2gTfBOIE9QUIBQ8FEAURBRMFGgUc
				BR4FIAUiBSQFYwVoBWoFbAVuBXMFdgWLBaAFpQWoBa0A
				AAAAAAACAQAAAAAAAACbAAAAAAAAAAAAAAAAAAAFvw==
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://www.ittc.ku.edu/~alex/teaching/hnrs190/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2011 Perry Alexander</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string></string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>palexand@eecs.ku.edu</string>
					<key>FavIcon</key>
					<data>
					</data>
					<key>FavIconUsed</key>
					<false/>
					<key>ImageExportFormat</key>
					<integer>0</integer>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<true/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>/users/alex/.public_html/teaching/hnrs190/</string>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>server</key>
							<string>xenon.ittc.ku.edu</string>
							<key>sftp</key>
							<true/>
							<key>user</key>
							<string>alex</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<true/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>Honors Tutorial</string>
					<key>SloganUsed</key>
					<true/>
					<key>ThemeName</key>
					<string> (((BS))) - Charcoal</string>
					<key>TitleText</key>
					<string>HNRS 190</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>UUID</key>
					<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
