<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page6</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Resources</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Isaiah Carew - YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-02T13:58:19Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
					<key>PageDigests</key>
					<dict>
						<key>files/stacks_page_page6.css</key>
						<dict>
							<key>Digest</key>
							<data>
							ZkkrspuX0HGy7QgWaqf8
							+Q==
							</data>
							<key>Size</key>
							<integer>390</integer>
						</dict>
						<key>files/stacks_page_page6.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
						<key>resources.html</key>
						<dict>
							<key>Digest</key>
							<data>
							yxhOIdkaxWKBJTWtUomV
							iQ==
							</data>
							<key>Size</key>
							<integer>5654</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page6</string>
					<key>SiteRoot</key>
					<string>resources</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
