<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page4</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Project</string>
				<key>PluginClassName</key>
				<string>YHStacksPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Isaiah Carew - YourHead Software</string>
					<key>Name</key>
					<string>Stacks</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-11-19T01:51:06Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>375502F6-E278-4C9F-8DCD-8C49FF9F57ED</string>
					<key>PageDigests</key>
					<dict>
						<key>exams.html</key>
						<dict>
							<key>Digest</key>
							<data>
							B1SQKMUQsqFBF4kDzD96
							pw==
							</data>
							<key>Size</key>
							<integer>3809</integer>
						</dict>
						<key>files/stacks_page_page4.css</key>
						<dict>
							<key>Digest</key>
							<data>
							SSyPw0hp0HnO/efy6NYV
							Dg==
							</data>
							<key>Size</key>
							<integer>77</integer>
						</dict>
						<key>files/stacks_page_page4.js</key>
						<dict>
							<key>Digest</key>
							<data>
							4nf49Kcs/AKiir2hdl+8
							Qg==
							</data>
							<key>Size</key>
							<integer>135</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page4</string>
					<key>SiteRoot</key>
					<string>exams</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>Data.archive</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
